<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.nutiteq.advancedmap" android:versionCode="1" android:versionName="1.0-SNAPSHOT">
    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name="com.nutiteq.advancedmap.LauncherList">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="AdvancedMapActivity"></activity>
    <activity android:name="MBTilesMapActivity"></activity>
    <activity android:name="BasicMapActivity"></activity>
    <activity android:name="com.nutiteq.advancedmap.VectorFileMapActivity"></activity>
    <activity android:name="CartoDbVectorMapActivity"></activity>
    <activity android:name="MapBoxMapActivity"></activity>
    <activity android:name="MapsForgeMapActivity"></activity>
    <activity android:name="com.nutiteq.advancedmap.RasterFileMapActivity"></activity>
    <activity android:name="com.nutiteq.filepicker.FilePicker"></activity>
    <activity android:name="GraphhopperRouteActivity"></activity>
    <activity android:name="Offline3DMapActivity"></activity>
    <activity android:name="WmsMapActivity"></activity>
  </application>

</manifest>

